.news-flex-box {
    flex: 0 0 auto;
    margin-bottom: 2rem;
    display: flex;
    font-size: 0.8rem;
}

.news-box {
    flex: 1;
}

.update-box {
    flex: 1;
}

.miniroom {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.box-title {
    font-family: "KOTRA_BOLD-Bold";
    border-bottom: 1px solid grey;
    color: #3b87ab;
}

.news-row {
    display: flex;
    font-size: 0.85rem;
    margin: 3px 0;
    flex-direction: column;
}

.news-item {
    display: flex;
    margin-bottom: 2px;
}

.news-category {
    padding: 0 6px;
    margin-right: 6px;
    color: white;
    border-radius: 3px;
}

.category-pic {
    background-color: #f15f5f;
}

.category-post {
    background-color: #617dc1;
}
.category-guestbook {
    background-color: #6B66FF;
}


.menu-row {
    display: flex;
    border-bottom: 1px dashed grey;
    margin: 3px 0;
}

.menu-item {
    flex: 1;
}

.menu-num {
    font-family: "NeoDunggeunmo";
    padding-left: 6px;
    color: #003399;
}

.miniroom-gif-box {
    border: 1px solid #808080;
    flex: 1;
    display: flex;
}


