<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ilchons</title>
</head>
<body>
<h1>Ilchons</h1>

<span th:each="ilchon : ${page.content}">
<span th:text="${ilchon.name}"></span>
<br>
<span th:text="${ilchon.nick}"></span>
<br>
</span>
<a th:href="@{/user/{id}/ilchons(page=${page.number - 1},id=${userId})}" th:unless="${page.first}">이전</a>
<span th:text="${page.number + 1}"></span>/<span th:text="${page.totalPages}"></span>
<a th:href="@{/user/{id}/ilchons(page=${page.number + 1},id=${userId})}" th:unless="${page.last}">다음</a>
</body>
</html>
