<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WELECOME!</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <link rel="stylesheet" href="CSS/loadingToMain.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Libre+Baskerville&family=Single+Day&family=Stylish&display=swap"
        rel="stylesheet">
</head>
<body>
<div id="page-transition-container">
  <img src="/images/싸이백1.jpeg" id="fade-out-image">
  <div id="other-elements">
<!--    <div class="bImg"></div>-->
    <div class="animation01">
      <div class="rhombus_small">
        <div class="rhombus">
          <div class="border_box">
            <span class="line line01"></span>
            <span class="line line02"></span>
            <span class="line line03"></span>
            <span class="line line04"></span>
            <span class="circle circle01"></span>
            <span class="circle circle02"></span>
            <span class="circle circle03"></span>
            <span class="circle circle04"></span>
            <span class="animation_line animation_line01"></span>
            <span class="animation_line_wrapper animation_line02_wrapper"><span class="animation_line animation_line02"></span></span>
            <span class="animation_line animation_line03"></span>
            <span class="animation_line_wrapper animation_line04_wrapper"><span class="animation_line animation_line04"></span></span>
            <span class="animation_line animation_line05"></span>
            <span class="animation_line_wrapper animation_line06_wrapper"><span class="animation_line animation_line06"></span></span>
            <span class="animation_line animation_line07"></span>
            <span class="animation_line_wrapper animation_line08_wrapper"><span class="animation_line animation_line08"></span></span>
          </div>
          <div class="wave">
            <div class="wave_wrapper"><div class="wave_box"></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="animation02">
      <div class="rhombus_box">
        <span class="rhombus_item_wrapper rhombus_item01_wrapper"><span class="rhombus_item"></span></span>
        <span class="rhombus_item_wrapper rhombus_item02_wrapper"><span class="rhombus_item"></span></span>
      </div>
      <div class="double_content">
        <div class="double_wrapper02 dotted02"><div class="dotted_hide"><div class="double_wrapper01 dotted01"><span class="dotted_right"></span></div></div></div>
        <div class="double_wrapper02 white02"><div class="double_wrapper01 white01"></div></div>
        <div class="double_wrapper02 gray02"><div class="double_wrapper01 gray01"></div></div>
        <div class="double_wrapper02 orange02"><div class="double_wrapper01 orange01"></div></div>
      </div>
      <div class="name">
        <p>Hello, World!</p>
        <span class="name_circle01"></span>
        <span class="name_circle02"></span>
      </div>
    </div>
  </div>
  <div class="mainHomeP">
    <div id="banner">
      <img  id="logo" src="/images/HWORLD버전5.png" alt="로딩">
      <div class="bannerbutton " id="myroom">마이룸</div>
      <div class="bannerbutton" id="purchase">구매</div>
      <div class="bannerbutton" id="charge" >충전</div>
      <div class="logoutbox" style="position: absolute; top: 10px;right: 11px ">
        <p style="margin-bottom: 3px;margin-top: 4px;font-size: 13px;color: #5e5c5c">김은석님 환영합니다</p>
        <button id="logout" style=" background-color: white; height: 20px; width: 80px; text-align: center; display: flex; justify-content: center; align-items: center; border-radius: 4px; position: absolute;right: 0;">
          로그아웃
        </button>

      </div>
    </div>
    <p style="font-size: 4px"></p>
    <div style="background-color: #ea8a8a;height: 4px; margin-top: 4px"></div>
    <!--<p style="font-size: 40px"></p>-->
    <div style=" height: 800px" id="back">
      <div style="height: 50px"></div>
      <div id="content">

        <img id="leftimg"
             src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FlSAt0%2FbtskQRWjayg%2FLX6Iy4nUR6u3p3iJwKLrc0%2Fimg.png"
             alt="">

        <div id="infobox">

          <p style="font-size: 30px;font-weight: bold; color: #ff8d1c">김은석님의 미니홈피</p>
          <p style="font-size: 6px"></p>
          <div id="minimiwithinfo">

            <div id="minimi"><img
                    src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbSXLkK%2FbtskQimK94Y%2F1UQXpfIXVpe836e44MtVi1%2Fimg.png"
                    alt=""></div>
            <div id="rightinfo">
              <p>이름 : <span  style="color: #ff3100; font-weight: bold">김은석</span></p>
              <p>Today : <span  style="color: #ff3100; font-weight: bold">43</span></p>
              <p>NewComment:<span  style="color: #ff3100; font-weight: bold">9</span></p>
              <p>일촌신청:<span  style="color: #ff3100; font-weight: bold">10</span></p>
              <p>로그인중인일촌:<span  style="color: #ff3100; font-weight: bold">24</span></p>
              <p>판매요청:<span  style="color: #ff3100; font-weight: bold">19</span></p>
            </div>
          </div>

        </div>
      </div>

      <div id="systemoutoutline" style="display: flex; justify-content: center">
        <button id="enterbutton" style="background-color: #ea6e23;width: 550px;height: 50px; box-shadow: none;border-radius: 8px; margin-top:
        20px;color: white;font-size: 20px;font-weight: bold;">
         System.out.println(Hello.world)
        </button>
      </div>
      <div style="text-align: center; margin-top: 20px;font-size: 14px">
        @Copyright HelloWorld
      </div>

    </div>
  </div>
</div>


<script>
  window.addEventListener('load', function() {
    let fadeOutImage = document.getElementById('fade-out-image');
    setTimeout(function() {
      fadeOutImage.style.opacity = 0;
    }, 7000);

    let otherElements = document.getElementById('other-elements');
    setTimeout(function() {
      otherElements.style.opacity = 0;
    }, 7000);
  });



</script>
</body>
</html>